legend {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

#setname {
    font-family: "Brush Script MT", cursive;
}

input {
    font-size: 20px;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

label {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

body {
    --font-color: #000000;
    --bg-color: #EEEEEE;
}

body.dark-theme {
    --font-color: #EEEEEE;
    --bg-color: #111111;
}

@media (prefers-color-scheme: dark) {
    body {
        --font-color: #EEEEEE;
        --bg-color: #111111;
    }

    body.light-theme {
        --font-color: #111111;
        --bg-color: #EEEEEE;
    }
}

body {
    color: var(--font-color);
    background: var(--bg-color);
}

div#dm-switch {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url("../pics/light.png");
    background-size: 50px 50px;
}

body.dark-theme div#dm-switch {
    filter: invert(100%);
}

.clear {
  clear: both;
}